* { 
	margin 		: 0; 
	padding 	: 0; 
	box-sizing 	: border-box; 
	overflow-y  : hidden;
}

body {
 	font: 13px Helvetica, Arial;
}

form { 
	position 	: fixed;
	padding  	: 3px; 
	bottom 		: 0; 
	width		: 100%;
}

form input { 
	border 		 : 1px solid; 
	padding 	 : 10px;
	width 		 : 90%; 
	margin-right : .5%; 
}

form button {
 	width 		: 9%; 
 	background 	: rgb(130, 224, 255); 
 	padding 	: 10px; 

}
	form button:hover {
		background-color 	: #B8B1BE;
		cursor 				: pointer;
	}

.webchat-logs {
	overflow-y 	: auto;
	max-height: 500px;
}

.webchat-messages { 
	list-style-type : none;
	margin 			: 0; 
	padding 		: 0; 
	bottom 			: 20px;
}
	.webchat-messages li { 
		padding 	: 5px 10px;
	}
		.webchat-messages li:nth-child(odd) {
			background : #eee;
		}

.webchat-messages-username {
	font-weight : bold;
}

.webchat-messages-notification {
	background 		: #58A9E4 ! important;
	border-bottom 	: 1px solid black;
}